body {
  /* background-image: url("https://img.freepik.com/vector-premium/mapa-mundo-punteado-sobre-fondo-negro-ilustracion-vectorial_541075-470.jpg"); */
  /* background-image: url("https://www.worldatlas.com/upload/f4/e0/49/shutterstock-1665254809.png"); */
  background-image: url("https://static.vecteezy.com/system/resources/previews/022/580/016/original/background-technology-world-map-that-can-search-for-addresses-through-the-internet-at-all-times-to-know-the-location-and-topography-of-the-destination-able-to-travel-more-easily-and-faster-vector.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
}
