body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/022/580/016/original/background-technology-world-map-that-can-search-for-addresses-through-the-internet-at-all-times-to-know-the-location-and-topography-of-the-destination-able-to-travel-more-easily-and-faster-vector.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
}
