 body {
    margin: 0;
    user-select: none;
    box-sizing: border-box;
  }
  


 .container{
  /* background-color: red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .container__form{
  /* background-color: #29f; */
  backdrop-filter: blur(150px);

  padding: 15px;
}

/* .container__form_hijo{
  overflow: hidden;
 } */

 .container__form_label{
  /* background-color: #00f3; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #fff;
 }

 .container__form_input{
  margin-top:5px;
  width: 100%;
  box-sizing: border-box; 
  padding: 2px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #24e7fd;
  color: #24e7fd;
}

 .container__form_errors{
  margin-top: -10px;
  color: #aaa;
 }

 .container__form_input_option{
  background-color: #0a4791;
  color: #24e7fd;
 }


.container__form_button{
  display: flex;
  justify-content: space-between;
}

.container__form_button_button{
  height: 30px;
  width: 70px;
  border-radius: 30px;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container__form_button_button:hover{
  cursor: pointer;
  background-color: #25edff;
 }
