
.container__filter{
  height: 30px;
  width: 30px;
  margin-top: 50px;
  padding: 10px 0 40px 10px;
  
}
.btn_filter{
  font-size: 30px;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 50vw;
  gap: 20px;
  backdrop-filter: blur(5px);
}

.container__continent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  width: 80%;
}

select{
  width: 100%;
  height: 30px;
}

.container__cleanButton button{
  width: 130px;
  height: 35px;
  border-radius: 10px;
}

.container__activities{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  width: 80%;
}
.container__alphabeticalOrder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  width: 80%;
}
.container__cleanButton{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  width: 80%;
}


@media ( min-width: 769px)
{
  .container__filter{
    display: none;
  }
  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60px;
  gap: 30px;
  backdrop-filter: blur(3px);
  margin-top: 10px;
  flex-direction: row;
}

.container__continent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  max-width: 150px;
}

select{
  width: 100%;
}


.container__activities{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  max-width: 150px;
}
.container__alphabeticalOrder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  max-width: 150px;
}
.container__cleanButton{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  max-width: 150px;
}
}