.container {
  height: 35px;
  width: 100%;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_button {
  background-color: #0b6ae0;
  color: #fff;
  /* border: 1px solid red; */
  /* border: none;
  outline: none; */
  border-radius: 30px;
  padding: 5px 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}

.container_paged {
  color: #fff;
  font-size: 17px;
  margin: 0px 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container_button:hover{
  background-color: #25edff;
  color: black;
  cursor: pointer;
  
}