
.container {
  height: 35px;
  width: 100%;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_button {
  background-color: #27feff;
  border: 1 solid red;
  border: none;
    outline: none;
    border-radius: 30px;
    padding: 2px 5px;
}

.container_paged{
  color: #27feff;
  margin: 0px 30px;
}